body {
      font-family: Raleway;
      margin: 120px;
      margin-top: 0;
      padding: 0;
      background-color: FFFAF7;
      white-space: normal;
    }

h1 {
	  font-family: brave_hunter;
      font-size: 52px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 3s ease forwards;
    }

p {
      font-size: 30px;
      font-weight: 300;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 4s ease forwards;
    }

header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
   
header img {
      height: 45px;
      margin-right: 10px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 3s ease forwards;
    }

header h1 {
      font-size: 55px;
      margin: 0;
    }

nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }

nav a {
      margin-right: 15px;
      text-decoration: none;
      color: #333;
    }

main {
      padding: 20px 40px;
    }

.intro {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    
.intro-text {
      flex: 2;
      margin-right: 20px;
    }

.intro-img {
      flex: 1;
    }

.intro-img img {
      height: 1080px;
      width: 530px;
      border: 8px solid #ccc;
    }
